<?php
/** @var Breeds $viewModel */
$viewModel = $block->getViewModel();
$doggies = $viewModel->woofAll();
$doggy = $viewModel->woof();
use Gamma\Dogs\ViewModel\Breeds; ?>

<div style="display: grid;
            grid-template-columns: auto auto;">
<div style="overflow-y: scroll;
            max-height: 400px;">
    <h2>Dog breed list</h2>
    <ul style="columns: 3">
    <?php foreach ($doggies as $key):?>
        <li id="<?php echo $key ?>" onclick="getData(this.id)"><?php echo $key ?></li>
    <?php endforeach;?>
    </ul>
</div>
<div class="item2">
    <h2>About this doggo</h2>
    <img src="<?= $doggy->getImage(); ?>" alt="Not Found">
    <h3>Subreeds..</h3>
    <ul>
        <?php foreach ($doggy->getSub() as $key):?>
            <li><?php echo $key ?></li>
        <?php endforeach;?>
    </ul>
    <div>
        <h3>Books</h3>
        <ul>
            <?php foreach ($doggy->getBooks() as $key):?>
                <li>
                    <p><?php echo $key[0] ?><a href="<?php echo $key[2] ?>">Get book!</a>
                    </p>
                    <img src="<?php echo $key[1] ?>" alt="not found">
                </li>
            <?php endforeach;?>
        </ul>
    </div>
</div>

</div>

<script>
    function getData(identifier){
        window.location.assign(`/dogs/breeds/index/doggy/${identifier}`);
    }
</script>