<?php
/** @var Pokedex $viewModel */
$viewModel = $block->getViewModel();

$pokemon = $viewModel->getPokemon();

use Gamma\ITP\ViewModel\Pokedex; ?>

<div class="pokedex">
    <div class="top">
        <label for="">Search for a pokemon:</label>
        <input id="pokesearch" type="text">
        <button id="go">Go!</button>
    </div>
    <div class="mid">
        <div class="left">
            <div class="image">
                <?php if ($pokemon) { ?>
                    <img src="<?= $pokemon->getImage() ?>" alt="Pokemon Image">
                <?php } ?>
            </div>
        </div>
        <div class="right">
            <?php if ($pokemon) { ?>
                <h2><?= $pokemon->getName() ?></h2>
                <h3><?= $pokemon->getType() ?> @ <?= $pokemon->getRegion() ?></h3>
                <p><?= $pokemon->getFlavorText()?></p>
                <h3>Moves:</h3>
                <ul>
                    <?php foreach ($pokemon->getMoves() as $move) { ?>
                        <li><?= $move ?></li> <?php } ?>
                </ul>
            <?php } ?>
        </div>
    </div>
    <div class="bottom">
        All rights belong to Pokemon, blablabla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dictum
        condimentum lobortis. Duis et fringilla ligula, sed suscipit odio. Proin ac orci et nibh pretium placerat.
        Mauris iaculis at arcu non tempor. Suspendisse nec venenatis turpis, nec vestibulum magna. Quisque vitae urna
        nec sem luctus accumsan non a elit. Nam a commodo urna, non ultrices ligula. Ut eu libero nisl.
    </div>
</div>

<script>
    const navigate = () => {
        const pokemon = document.getElementById('pokesearch').value;

        if (pokemon) {
            window.location.assign(`/pokedex/pokedex/index/pokemon/${pokemon}`);
        }
    };

    document.getElementById('go').onclick = navigate;
    document.getElementById('pokesearch').onkeyup = (event) => {
        if (event.key === 'Enter') {
            navigate();
        }
    }
</script>
